body {
  font-weight: 200;
}

#{headings()} {
  font-weight: 200;
}

.container {
  margin:auto;
}
.header {
  text-align: center;
  color: #FFF;
  padding: auto;
  #info {
    margin-left: 40px;
    font-size: 24px;
    cursor: pointer;
  }
  #info-modal {color: #333;}
  h1{
    display: inline-block;
  }
  #tweet {
    position: fixed;
    left: 90%;
    margin:0.67em;
  }
  #info-modal {
    p {
      color: #000;
      font-size: 18px;
    }
  }
}
.footer {
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  a:hover{
    text-decoration: none;
  }
}

#color-legend {
  #male-legend {
    #male-box {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: rgba(24, 133, 179, 0.5);
      &:hover {
        background-color: rgba(24, 133, 179, 1);
      }
    }
    #male-text{
      display: inline-block;
      margin-top: -5px;

    }
  }
  #female-legend {
    #female-box {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: rgba(250, 55, 2, 0.5);
      &:hover {
        background-color: rgba(250, 55, 2, 1);
      }
    }
    #female-text{
      display: inline-block;
      margin-top: -5px;
    }
  }
}

#player-legend {
  text-align: center;
  .youtube {
    opacity: 0;
    margin: auto; 
  }
}

viz {
  cursor: pointer;
  #chart-container {
    // border: #909090 2px solid;
    padding-top: 20px;
  }
  margin-top: 80px;
  #chart {
    cursor:pointer;
    #scrubBar {
      pointer-events: none;
      stroke: #6e6e6e;
      stroke-width: 1px;
      // stroke-dasharray: 1,1;
    }
    #xAxisNum {
      fill: #000;
    }
  }
  .y.axis {
    fill: transparent;

    .tick{
      display: none;
      line{stroke-width: 10px;}
      &:hover {
        display: inline;
        line {
          stroke-color: red;
        }
      }
    }

    .tick, line, text {
      opacity: 0.3;
       :hover {
         opacity: 1;
       }
       :hover * {
         opacity: 1;
       }
    }
  }
  .x.axis {
    line {
      display: none;
    }
    text {
      opacity: 0.8;
    }
    text:hover {
      opacity: 1;
    }
    path.domain {
      display: none;
    }
  }
  .ranges {
    cursor:crosshair;
    stroke-width: 1;
    &.Female {

      .legend-hover {
        fill: rgba(250, 55, 2, 0.5) !important;
      }

      :hover {
        fill-opacity: 0.8;
        transition: 0.3s ease;
        stroke-width: 3px;
        stroke-opacity: 0.8 !important;
      };
    };
    &.Male {

      .legend-hover {
        fill: rgba(24, 133, 179, 0.5) !important;
      }

      :hover {
        fill-opacity: 0.8;
        transition: 0.5s ease;
        stroke-width: 3px;
        stroke-opacity: 0.8 !important;
      }
    }
  circle {
    fill: black;
    fill-opacity: 0.5;
    stroke-width: 0 !important;
    :hover {
      fill-opacity: 1;
    }
    }
  }
}

// .d3-tip {
//   width: 304px;
//   height: 214px;
//   background-color: rgba(187,187,187,0.6);
//   border-style: solid;
//   border-width: 2px;
//   border-color: #AAA;
//   border-radius: 20px;
//   text-align: center;
//   .tip-container {
//     width: 300px;
//     height: 210px;
//     background-color: rgba(221,221,221,0.6);
//     border-style: solid;
//     border-width: 2px;
//     border-color: #CCC; 
//     border-radius: 20px;
//   }
// }

// .legend {
//   fill: rgba(240,240,240,0.4);
//   -webkit-filter: blur(20px);
//   -moz-filter: blur(20px);
//   -o-filter: blur(20px);
//   -ms-filter: blur(20px);
//   filter: blur(20px);
// }
