viz {
  #chart {
    margin: 50px;
  }
  .y.axis {
    fill: transparent;
    stroke: black;

    .tick {
      line {
      opacity: 0.3;
      stroke: black;
    }
      text {
          fill: #ddd;
          font: 10px sans-serif;
          text-anchor: middle;
          opacity: 0.4;
      }
    }
  }
  .x.axis {
    stroke: black;
    line {
      stroke: black;
    }
    text {
      opacity: 0.8;
    }
    text:hover {
      opacity: 1;
    }
  }
  .ranges {
    &.Female {
      fill:transparent;
      :hover {
          fill: pink;
        };
    }
    &.Male {
      fill: transparent;
      :hover {
        fill: lightblue;
        /*fill-opacity: 0.7;*/
      };
    }
  }
  circle {
    fill: black;
    stroke: black;
  }
}