.legend {
  font-weight: lighter;
  font-size: 20px;

  #male-legend {
    #male-box {
      display: inline-block;
      width: 30px;
      height: 30px;
      background-color: lightblue;
    }
    #male-text{
      display: inline-block;
    }
  }
  #female-legend {
    #female-box {
      display: inline-block;
      width: 30px;
      height: 30px;
      background-color: red;
    }
    #female-text{
      display: inline-block;
    }
  }
}

viz {
  #chart {
    margin: 50px;
    margin-top: 80px;
    #scrubBar {
      stroke: #000;
      stroke-width: 0.5px;
      stroke-dasharray: 1,1;
    }
    #xAxisNum {
      fill: #000;
    }
  }
  .y.axis {
    fill: transparent;

    .tick{
      display: none;
      line{stroke-width: 10px;}
      &:hover {
        display: inline;
        line {
          stroke-color: red;
        }
      }
    }

    // .tick, line, text {
    //   opacity: 0.3;
    //   :hover {
    //     opacity: 1;
    //   }
    //   :hover * {
    //     opacity: 1;
    //   }
    // }
  }
  .x.axis {
    stroke: black;
    line {
      stroke: black;
    }
    text {
      opacity: 0.8;
    }
    text:hover {
      opacity: 1;
    }
  }
  .ranges {
    &.Female {
      fill: red;
      :hover {
        fill-opacity: 0.8;
      };
    };
    &.Male {
      fill: blue;
      :hover {
        fill-opacity: 0.8;
      };
    }
  }
  circle {
    fill: black;
    stroke-width: 0px;
  }
}

// .d3-tip {
//   width: 304px;
//   height: 214px;
//   background-color: rgba(187,187,187,0.6);
//   border-style: solid;
//   border-width: 2px;
//   border-color: #AAA;
//   border-radius: 20px;
//   text-align: center;
//   .tip-container {
//     width: 300px;
//     height: 210px;
//     background-color: rgba(221,221,221,0.6);
//     border-style: solid;
//     border-width: 2px;
//     border-color: #CCC; 
//     border-radius: 20px;
//   }
// }

// .legend {
//   fill: rgba(240,240,240,0.4);
//   -webkit-filter: blur(20px);
//   -moz-filter: blur(20px);
//   -o-filter: blur(20px);
//   -ms-filter: blur(20px);
//   filter: blur(20px);
// }

.male-legend {
  fill: rgb(24,133,179);
}

.female-legend {
  fill: rgb(248,0,0);
}
